* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #495057;
    font-family: 'Quicksand', sans-serif;
    color: white;

}


#header {
    display: flex;
    width: auto;
    height: 5rem;
    background: #212529;
    justify-content: flex-start;
    margin-bottom: 20px;

}



h1 {
    padding: 1rem;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    color: white;

}





#task-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 20rem;
    height: 10rem;
    margin-left: auto;
    margin-right: auto;
}




#newTask-box {
    width: 28rem;
    height: 4rem;
    margin: 1rem;
}


#inputTask {
    border: none;
    color: white;
    border-radius: 0;
    background:
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat;
    border-bottom-color: white;
    width: 200px;
    outline: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 1px;
}

#inputTask:focus::placeholder {
    color: transparent;
}

#inputTask::placeholder {
    color: white;
    transition: color 0.5s ease;

}

#create-task-btn {
    text-decoration: none;
    margin: 1rem;
    font-size: 17px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 8rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    transition: .4s ease-in-out;

}



#create-task-btn:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;

}










#error-text {
    margin-top: -20px;
    color: white;

}







#task-paragraph-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 4rem;
}

#task-text {
    font-weight: 400;
    /* width: 12.5rem;
    height: 2rem;
    background:
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat; */

}



#list-container {
    width: 42rem;
    height: 25rem;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #212529;
    border-radius: 13px;
    background: #495057;


}


#edit-display {
    margin: auto;
}

#update-box-form {
    display: flex;
}

#update-input {
    border: none;
    color: white;
    border-radius: 0;
    background:
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat;
    border-bottom-color: white;
    width: 200px;
    outline: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 20px;

}

#update-input:focus::placeholder {
    color: transparent;
}

#update-input::placeholder {
    color: white;
    transition: color 0.5s ease;

}



#update-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    transition: .4s ease-in-out;
}

#update-btn:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}


#error-text-update {

    padding: 2px;
}















#testX {
    border: 2px solid black;
    width: 3rem;
    height: 1.9rem;
    text-align: center;
    border-radius: 12px;
    padding-top: 2px;
    background-color: #212529;
    margin: 9px 7px 5px 0px;
    color: white;
    transition: .4s ease-in-out;
}




#testX:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}














.edit-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    transition: .4s ease-in-out;
}

.edit-btn:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}

.delete-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    transition: .4s ease-in-out;
}

.delete-btn:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}


.complete-btn {
    text-decoration: none;
    margin: 10px;
    font-size: 13px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 5rem;
    font-family: 'Quicksand', sans-serif;
    padding: 5px 5px;
    transition: .4s ease-in-out;
}

.complete-btn:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}








.show-box {
    width: 12rem;
    height: 5rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    color: white;
    display: flex;
    justify-content: center;
}


#show-history {
    text-decoration: none;
    margin: 10px;
    font-size: 17px;
    background: #212529;
    color: white;
    border-radius: 30px;
    width: 10rem;
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    padding: 10px 10px;
    transition: .4s ease-in-out;
}

#show-history:hover {
    cursor: pointer;
    color: #212529;
    background-color: white;
}

#list-display {
    display: flex;
    flex-direction: column;
    width: 38rem;
    height: 20rem;
    margin: 2rem;
    overflow: auto;
}


::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background: #495057;
    border-radius: 100vw;
    border: 1px solid #212529;
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    background: #212529;


}




.task-row {
    display: flex;
    height: 2rem;
    width: fit-content;
    justify-content: right;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}


.listings {

    border-radius: 0;
    background:
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat;
    border-bottom-color: white;
    width: 200px;
    outline: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    padding: 5px;
    transition: .2s ease-in-out;
}

.listings:hover {
    padding: 1px;
}


#showAll-display {
    width: 38rem;
    height: 20rem;
    overflow: auto;
}











.allTaskList {
    width: fit-content;
    background:
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 2px no-repeat;
    padding: 8px;
    padding-bottom: 5px;
    transition: .2s ease;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}



.allTaskList:hover {
    font-size: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}













/*Sticky Footer Styling*/



#footer {
    display: flex;
    width: auto;
    height: 5rem;
    background: #212529;
    justify-content: flex-start;
    position: sticky;
    top: 100%;
}



#about-box {
    display: flex;
    flex-direction: row;
}

h3 {
    font-weight: 400;
    width: 8rem;
    margin: 2rem;
}


p2 {
    margin: auto;
}