* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}






#header {
    display: flex;
    justify-content: center;
    border: 2px solid aqua;
    height: 5rem;
}


#body {
    display: flex;
}


#displayarea {
    display: flex;
    flex-wrap: wrap;

    border: 5px solid black;
    width: 20rem;
    height: 20rem;

}







#navbar {
    display: flex;
    flex-direction: column;

    border: 5px solid black;
    width: 10rem;
    height: 40rem;
}

/* #navcontainer {
    display: flex;
    flex-direction: column;


} */




#mylist {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
}







#input {
    width: 5rem;
    height: 5rem;
}